*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/*Centralizar calculadora*/
.main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}


button {
  width: 100px;
  height: 80px;
  font-size: 50px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
}
button:active{
transform: scale(0.95);
background-color: gray;
}

input{
width: 100%;
height: 80px; 
font-size: 2rem;
margin-bottom: 15px;
border-radius: 12px;
background: #020617;
color: #e5e7eb;
text-align: right;
padding: 15px;
}
.calculator{
    background: #1f3975;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}
.operator{
background: #0b121c;
color: white;
}
#clear {
  background: #ef4444;
  color: white;
}
